.buttons-container{
    padding:5px 15px;
    text-align: right;
    button{
        margin-left:5px;
    }

}
.table-container{
    font-size: 14px;
    padding:15px;
    background-color: #f9f5f5;
}

.table{
    border:1px solid rgb(189, 188, 188);
    width:100%;
    background:#fff;
    border-collapse: collapse;
    .body{
        color:#333;
    }
    .header-row{
        margin:5px 0;
        border-bottom: 1px solid rgb(189, 188, 188);
        background-color: #f9f5f5;
        th{
            text-align:left;
            border-left: 1px solid rgb(189, 188, 188);
        }
    }
    .footer-row{
        background-color: #f9f5f5;
        td{
            text-align: right;
        }
    }
    .tr {
       td,
       th{
        padding:5px 10px;
       }
        border-bottom: 1px solid #999;
        
    }

}